.full-width {
    width: 100%;
    margin-bottom: 15px;
  }
  
  .button-spinner {
    display: inline-block;
    margin-right: 8px;
    vertical-align: middle;
  }
  
  mat-dialog-content {
    min-width: 300px;
  }